clf_bayes_Apparel[[:space:]]&[[:space:]]Accessories filter=lfs diff=lfs merge=lfs -text
clf_bayes_Apparel[[:space:]]&[[:space:]]Accessories_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Apparel[[:space:]]&[[:space:]]Accessories_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Apparel[[:space:]]&[[:space:]]Accessories_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Apparel[[:space:]]&[[:space:]]Accessories_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Apparel[[:space:]]&[[:space:]]Accessories_05.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care filter=lfs diff=lfs merge=lfs -text
clf_bayes_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_05.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Camera[[:space:]]and[[:space:]]Photos filter=lfs diff=lfs merge=lfs -text
clf_bayes_Camera[[:space:]]and[[:space:]]Photos_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Camera[[:space:]]and[[:space:]]Photos_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Camera[[:space:]]and[[:space:]]Photos_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Camera[[:space:]]and[[:space:]]Photos_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Camera[[:space:]]and[[:space:]]Photos_05.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Computers[[:space:]]and[[:space:]]Laptops filter=lfs diff=lfs merge=lfs -text
clf_bayes_Computers[[:space:]]and[[:space:]]Laptops_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Computers[[:space:]]and[[:space:]]Laptops_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Computers[[:space:]]and[[:space:]]Laptops_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Computers[[:space:]]and[[:space:]]Laptops_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Computers[[:space:]]and[[:space:]]Laptops_05.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Electronics[[:space:]]and[[:space:]]Appliances filter=lfs diff=lfs merge=lfs -text
clf_bayes_Electronics[[:space:]]and[[:space:]]Appliances_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Electronics[[:space:]]and[[:space:]]Appliances_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Electronics[[:space:]]and[[:space:]]Appliances_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Electronics[[:space:]]and[[:space:]]Appliances_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Electronics[[:space:]]and[[:space:]]Appliances_05.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Home[[:space:]]and[[:space:]]Kitchen filter=lfs diff=lfs merge=lfs -text
clf_bayes_Home[[:space:]]and[[:space:]]Kitchen_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Home[[:space:]]and[[:space:]]Kitchen_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Home[[:space:]]and[[:space:]]Kitchen_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Home[[:space:]]and[[:space:]]Kitchen_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Home[[:space:]]and[[:space:]]Kitchen_05.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories filter=lfs diff=lfs merge=lfs -text
clf_bayes_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_05.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Shoes[[:space:]]and[[:space:]]Footwear filter=lfs diff=lfs merge=lfs -text
clf_bayes_Shoes[[:space:]]and[[:space:]]Footwear_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Shoes[[:space:]]and[[:space:]]Footwear_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Shoes[[:space:]]and[[:space:]]Footwear_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Shoes[[:space:]]and[[:space:]]Footwear_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Shoes[[:space:]]and[[:space:]]Footwear_05.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery filter=lfs diff=lfs merge=lfs -text
clf_bayes_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_01.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_02.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_03.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_04.npy filter=lfs diff=lfs merge=lfs -text
clf_bayes_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Apparel[[:space:]]&[[:space:]]Accessories filter=lfs diff=lfs merge=lfs -text
clf_fpr_Apparel[[:space:]]&[[:space:]]Accessories_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Apparel[[:space:]]&[[:space:]]Accessories_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Apparel[[:space:]]&[[:space:]]Accessories_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Apparel[[:space:]]&[[:space:]]Accessories_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Apparel[[:space:]]&[[:space:]]Accessories_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Apparel[[:space:]]&[[:space:]]Accessories_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Apparel[[:space:]]&[[:space:]]Accessories_07.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care filter=lfs diff=lfs merge=lfs -text
clf_fpr_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care_07.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Camera[[:space:]]and[[:space:]]Photos filter=lfs diff=lfs merge=lfs -text
clf_fpr_Camera[[:space:]]and[[:space:]]Photos_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Camera[[:space:]]and[[:space:]]Photos_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Camera[[:space:]]and[[:space:]]Photos_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Camera[[:space:]]and[[:space:]]Photos_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Camera[[:space:]]and[[:space:]]Photos_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Camera[[:space:]]and[[:space:]]Photos_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Camera[[:space:]]and[[:space:]]Photos_07.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Computers[[:space:]]and[[:space:]]Laptops filter=lfs diff=lfs merge=lfs -text
clf_fpr_Computers[[:space:]]and[[:space:]]Laptops_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Computers[[:space:]]and[[:space:]]Laptops_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Computers[[:space:]]and[[:space:]]Laptops_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Computers[[:space:]]and[[:space:]]Laptops_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Computers[[:space:]]and[[:space:]]Laptops_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Computers[[:space:]]and[[:space:]]Laptops_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Computers[[:space:]]and[[:space:]]Laptops_07.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Electronics[[:space:]]and[[:space:]]Appliances filter=lfs diff=lfs merge=lfs -text
clf_fpr_Electronics[[:space:]]and[[:space:]]Appliances_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Electronics[[:space:]]and[[:space:]]Appliances_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Electronics[[:space:]]and[[:space:]]Appliances_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Electronics[[:space:]]and[[:space:]]Appliances_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Electronics[[:space:]]and[[:space:]]Appliances_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Electronics[[:space:]]and[[:space:]]Appliances_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Electronics[[:space:]]and[[:space:]]Appliances_07.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Home[[:space:]]and[[:space:]]Kitchen filter=lfs diff=lfs merge=lfs -text
clf_fpr_Home[[:space:]]and[[:space:]]Kitchen_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Home[[:space:]]and[[:space:]]Kitchen_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Home[[:space:]]and[[:space:]]Kitchen_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Home[[:space:]]and[[:space:]]Kitchen_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Home[[:space:]]and[[:space:]]Kitchen_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Home[[:space:]]and[[:space:]]Kitchen_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Home[[:space:]]and[[:space:]]Kitchen_07.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories filter=lfs diff=lfs merge=lfs -text
clf_fpr_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories_07.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Shoes[[:space:]]and[[:space:]]Footwear filter=lfs diff=lfs merge=lfs -text
clf_fpr_Shoes[[:space:]]and[[:space:]]Footwear_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Shoes[[:space:]]and[[:space:]]Footwear_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Shoes[[:space:]]and[[:space:]]Footwear_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Shoes[[:space:]]and[[:space:]]Footwear_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Shoes[[:space:]]and[[:space:]]Footwear_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Shoes[[:space:]]and[[:space:]]Footwear_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Shoes[[:space:]]and[[:space:]]Footwear_07.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery filter=lfs diff=lfs merge=lfs -text
clf_fpr_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_01.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_02.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_03.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_04.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_05.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_06.npy filter=lfs diff=lfs merge=lfs -text
clf_fpr_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery_07.npy filter=lfs diff=lfs merge=lfs -text
Vectorizer_Apparel[[:space:]]&[[:space:]]Accessories filter=lfs diff=lfs merge=lfs -text
Vectorizer_Beauty[[:space:]]Products[[:space:]]and[[:space:]]Personal[[:space:]]Care filter=lfs diff=lfs merge=lfs -text
Vectorizer_Camera[[:space:]]and[[:space:]]Photos filter=lfs diff=lfs merge=lfs -text
Vectorizer_Computers[[:space:]]and[[:space:]]Laptops filter=lfs diff=lfs merge=lfs -text
Vectorizer_Electronics[[:space:]]and[[:space:]]Appliances filter=lfs diff=lfs merge=lfs -text
Vectorizer_Home[[:space:]]and[[:space:]]Kitchen filter=lfs diff=lfs merge=lfs -text
Vectorizer_Mobile[[:space:]]Phone,[[:space:]]Tablets[[:space:]]and[[:space:]]Accesories filter=lfs diff=lfs merge=lfs -text
Vectorizer_Shoes[[:space:]]and[[:space:]]Footwear filter=lfs diff=lfs merge=lfs -text
Vectorizer_Watches,[[:space:]]Eyewear[[:space:]]and[[:space:]]Jewellery filter=lfs diff=lfs merge=lfs -text
